# Setup all virtual hosts

{
   auto_https disable_redirects
}

subdomain1.domain.com {
	respond "Hello World"
}

subdomain2.domain.com {
	reverse_proxy name-staging-app-1:8080
}

subdomain3.domain.com {
	reverse_proxy name-dev-app-1:8080
}
